/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0; /* Remove any default margin */
}
.navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    width: 100%;
    position: fixed; /* Fixed position at the top */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1; /* Ensure it's above other content */
    height: 60px; /* Increase the height of the navbar */
    display: flex;
    justify-content: flex-end; /* Put buttons to the right */
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a box-like shadow */
    opacity: 0.7;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 20px; /* Increase button padding */
    border: 2px solid transparent; /* Add border */
    border-radius: 10px; /* Rounded corners */
}

.navbar a:hover {
    color: #9932cc; /* Change color on hover */
    background-color: rgba(255, 255, 255, 0.2); /* Add background color on hover */
    border-color: #9932cc; /* Change border color on hover */
    transform: scale(1.1); /* Apply a slight zoom-in effect on hover */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
/* .detailBox {
    padding: 70px 180px 70px 180px;
    background-color: black;
} */

.inputBox {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.inputBox{
    align-self: stretch;
    padding: 20px;
    /* background-color: aqua; */
    gap: 8px;
    border:solid white ;
}

.inputBox > input,select,button {
    padding: 10px 8px 10px 8px;
    margin-top: 3px;
}

/* .addTrans > input,select,option,button {
    color: black;
}*/

.inputBox > input,select {
    background-color: black;
    color: white;
    opacity: 0.8;
    border: solid #720e9e 1px;
    font-size: large;
}

.inputBox > label {
    font-size: large;
    color: white;
}

.inputBox > h2 {
    font-size: xx-large;
    margin-bottom: 10px;
    color: #9932cc;
    border-bottom: solid white 1px;
}

a{
    margin: 0;
    padding: 0;
}

a > button {
    width: 100%;
    opacity: 0.75;
    background-color: #720e9e;
    color: white;
    font-size: larger;
    font-weight: 700;
    margin-top: 18px
    
}

